# Maximum Likelihood Threshold Hunting according to Green 1993

This library implements the threshold hunting procedure described by [Green 1993](https://doi.org/10.1121/1.406696).

It basically stores a set of psychometric functions with different parameters:

1. "Mean", i.e. where the function's infliction point is. In a threshold paradigm with 0% false alarm rate, this is the 50% point.
2. False alarm rate.
3. Slope of the psychometric function.

The library provides a convenient class "MLThresholdHunter" who does all the background work.

It is the job of the developer to:

1. Choose meaningful parameters.
2. Stimulate the participant (or whatever you are stimulating!) at the level provided by the `current_probe_value` property.
3. Provide the answer (`true` or `false`) to the instance of the instance of the class.
4. Check whether `stop` is `true`.
5. If not, repeat from 2.
6. If `stop` is `true`, `current_guess` is your threshold.

# Reference

{{>main}}